form(method='POST', action='/auth/logined')
	fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')

	input(type='hidden' class='FBLoginView-userId' name='userId')
	input(type='hidden' class='FBLoginView-token' name='accessToken')

	script(type='application/javascript').
		var $form = Array.prototype.pop.call(document.scripts).parentNode;
		window.addEventListener('DOMContentLoaded', function(){
			new Application.FBLoginView($form);
		});
