form#FBLogin-form(method='POST', action='/auth/logined')
	div.FBLogin-wrapper
		fb:login-button(scope='public_profile,email', data-size="large",onlogin='checkLoginState();')

	input(type='hidden' class='FBLoginView-userId' name='userId')
	input(type='hidden' class='FBLoginView-token' name='accessToken')

	script(type='application/javascript').
		window.addEventListener('DOMContentLoaded', function(){
			new Application.FBLoginView(document.getElementById('FBLogin-form'));
		});
