form.container
	.row
	p.col-xs-12.text-center
		input.upload-file(type="file", name="video")
	p.col-xs-12.text-center
		input.upload-submit(type="submit", value="アップロード")
	p.col-xs-12.text-center
		a.upload-link(style="display: none;") アップロードしました！動画を閲覧するにはこちら！！
	script(type='application/javascript').
		var $form = Array.prototype.pop.call(document.scripts).parentNode;
		window.addEventListener('DOMContentLoaded', function(){
			new Application.UploadView($form);
		});
