extends layout

block content
	include header.jade
	
	.container
		.row
			.col-xs-8
				video(controls).video_video(src="/api/video/#{video.videoId}")
				h1.video_title #{video.title}
				p by #{video.user.name}
