.userIcon {
	display: inline-blcok;
	position: relative;
	width: 34px;
	height: 34px;
	margin: -7px;
	border-radius: 50%;
	margin-right: 20px;
}
.FBLogin-wrapper {
	display: inline-block;
	position: relative;
	min-height: 0;
	margin: 13px;
	height: 24px;
}
.navbar {
	height: 50px;
}
