.userIcon {
	display: inline-blcok;
	position: relative;
	width: 34px;
	height: 34px;
	margin: -7px;
	border-radius: 50%;
	margin-right: 20px;
}
.FBLogin-wrapper {
	display: inline-block;
	position: relative;
	min-height: 0;
	margin: 13px;
	height: 24px;
}
.navbar {
	height: 50px;
}
.video_video {
	display: inline-block;
	position: relative;
	height: 400px;
	margin: auto;
	width: 100%;
	background: #000;
}
.video_title {
	font-weight: normal;
}
.navbar-inverse {
	background: #3F51B5;
	border-color: #3F51B5;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
body {
	background: #fcfcfc;
}
.videocard {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	border-radius: 3px;
	padding: 20px;
	marign: 5px;
	box-sizing: border-box;
	transition: 0.2s ease;
	cursor: pointer;
}
.videocard:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.pagination>li>a {
	border:none !important;
	background: transparent !important;
	color: #3F51B5;
}
.pagination>.active>span {
	border:none !important;
	background: #3F51B5 !important;
	border-radius: 50%;
	color: #fff !important;
}
.upload-file {
	margin: auto;
}
.upload-submit {
	background: #3F51B5;
	font-size: 24px;
	padding: 10px 50px;
	color: #fff;
	border: none;
	border-radius: 3px;
}
.upload-link {
	background: #3F51B5;
	font-size: 24px;
	padding: 10px 50px;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
